/.gradle/7.4.1/executionHistory/executionHistory.bin
/.gradle/7.4.1/fileHashes/fileHashes.bin
/build/classes/java/main/br/com/c3po/domain/GenericRequest.class
/build/classes/java/main/br/com/c3po/domain/GenericResponse.class
/.gradle/buildOutputCleanup/outputFiles.bin
/build/tmp/compileJava/previous-compilation-data.bin
/.gradle/7.4.1/fileHashes/resourceHashesCache.bin
